<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Embedded JavaScript</title>
    
    <%- include('../layouts/head');   %>
  </head>
  <body>
      <%- include('../layouts/menu');   %>
    <%- include('../layouts/header');   %>

<div class="row ml-auto">
  <div class="col-9">
<%- include('../layouts/main');   %>
  </div>
  <div class="col-3">
  <%- include('../layouts/sidebar');   %>
  </div>

</div>
<div class="">
  <%- include('../layouts/footer');   %>
</div>

  </body>
</html>
